<section class="reg-section section">
    <div class="container reg-container">
        <form class="reg-form" name="reg_form" validate>
            <div class="reg-box">
                <label class="reg-label" for="name">Name</label>
                <input class="reg-input" type="text" name="name" id="name" required="" />
            </div>
            <div class="reg-box">
                <label class="reg-label" for="email">Email</label>
                <input class="reg-input" type="email" name="email" id="email" required />
            </div>
            <div class="reg-box">
                <label class="reg-label" for="password">Password</label>
                <input class="reg-input" type="password" name="password" id="password" required autocomplete />
            </div>
            <div class="reg-box">
                <label class="reg-label" for="repeatedPassword">Re-enter your password</label>
                <input class="reg-input" type="password" name="repeatedPassword" id="repeatedPassword" required autocomplete />
            </div>
            <button class="reg-btn auth-btn sumbit-btn" type="submit">Submit</button>
        </form>
    </div>
</section>